<%- include("partials/header") %>
<body class="h-screen flex flex-col items-center justify-center space-y-4">
    <header>
        <h1 class="text-2xl font-bold"><%= flag %></h1>
    </header>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
<%- include("partials/footer") %>